.introduction {
  min-height: calc(100vh - 104px);
  display: flex;

  .wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: var(--dark-50);
      font-size: 36px;
      font-weight: 700;
      max-width: 10ch;
    }

    p {
      margin: 18px 0 35px 0;
      color: var(--dark-40);
      font-size: 18px;
      font-weight: 500;
    }
  }

  .buttons {
    display: flex;
    gap: 15px;

    a {
      transition: all 0.3s ease-in-out;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
    }

    .primary {
      a {
        padding: 12px 27px;
        color: var(--dark-10);
        background-color: var(--brand-color);

        &:hover {
          background-color: #64ff8b;
          color: var(--dark-10);
        }
      }
    }

    .secondary {
      background: transparent;
      a {
        padding: 12px 18px;
        color: var(--dark-50);
        padding: 12px 18px;
        border: 1px solid var(--dark-30);

        &:hover {
          background-color: var(--dark-30);
          color: var(--dark-50);
        }
      }
    }
  }
}

.about {
  margin-bottom: 130px;
  max-width: 55vw;

  .infos {
    display: flex;
    justify-content: center;

    .title {
      text-align: center;
      margin-bottom: 30px;
      color: var(--dark-50);
      font-size: 32px;
      font-weight: 700;
    }

    .description {
      color: var(--dark-40);
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 85px;
    }
  }

  .contact {
    display: flex;
    justify-content: space-between;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        padding: 15px;
        border-radius: 50%;
        background-color: var(--dark-20);
        margin-bottom: 19px;

        &:hover {
          background-color: var(--dark-30);
        }
      }

      h1 {
        font-size: 18px;
        font-weight: 700;
        color: var(--dark-50);
        margin-bottom: 5px;
      }

      a {
        color: var(--dark-40);

        &:hover {
          color: var(--brand-color);
          text-decoration: underline;
        }
      }

      p {
        font-size: 16px;
        color: var(--dark-40);
      }
    }
  }
}
