.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
