* {
  font-family: var(--main-font);
}

html {
  scroll-behavior: smooth;
}

header,
main {
  background-color: var(--dark-10);
}

main {
  padding-top: 104px;
}

section {
  min-height: calc(100vh - 165px);
  padding: 56px 0;
}

footer {
  background-color: var(--dark-20);
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.animeBottom {
  opacity: 0;
  transform: translateY(-40px);
  animation: animeBottom 1.2s forwards;
}

@keyframes animeBottom {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
