.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  position: relative;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.1875rem 0;

    .containerSize {
      .menuHamburguer {
        display: none;
      }

      ul {
        display: flex;
        gap: 45px;

        a {
          color: var(--dark-50);
          font-size: 1.125rem;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: var(--brand-color);
            text-decoration: underline;
          }
        }

        :global(.active) {
          color: var(--brand-color);
          transition: all 0.2s ease-in-out;
        }
      }

      @media (max-width: 900px) {
        [data-menu="button"] {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: transform 0.3s;

          &.active {
            transform: rotate(90deg);
          }

          #checkboxMenu {
            position: absolute;
            display: none;
          }

          label {
            position: relative;
            display: block;
            height: 1.25rem;
            width: 1.5625rem;
          }

          span {
            position: absolute;
            display: block;
            height: 0.3125rem;
            width: 100%;
            background-color: white;
            border-radius: 1.875rem;
            transition: 0.25s ease-in-out;
            cursor: pointer;

            &:nth-child(1) {
              top: 0;
            }

            &:nth-child(2) {
              top: 0.5rem;
            }

            &:nth-child(3) {
              top: 1rem;
            }
          }
        }

        ul {
          opacity: 0;
          gap: 32px;
          width: 100%;
          height: calc(100dvh - 104px);
          justify-content: space-evenly;
          flex-direction: column;
          position: absolute;
          right: 0;
          text-align: center;
          border: 1px solid var(--dark-30);
          background-color: var(--dark-20);
          top: 104px;
          transition: all 0.5s ease-in-out;
          pointer-events: none;

          &.open {
            opacity: 1;
            pointer-events: initial;
          }

          li {
            margin-left: 0;

            a {
              font-size: 24px;
              height: 3.75rem;
            }
          }
        }
      }
    }

    .logo {
      color: var(--dark-50);
      font-size: 1.625rem;
      font-weight: 700;
    }
  }
}
