.wrapper {
  padding: 20px 0;
  text-align: center;

  .paragraph {
    color: var(--dark-50);
    a {
      color: var(--brand-color);
      transition: text-decoration 0.2s ease-in-out;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
